.video-form {
    height: 250px;
    width: 200px;
    background-color: lightgreen;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
  }
  
  .video-form .description {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-form .title {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-form .url {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .video-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
